<section>
    <div class="container">
      <h2 class="pt-5">CTA</h2>
      <hr>
      <!-- This will be dynamically populated using JavaScript -->
      <div id="dynamic-cta"></div>
    </div>
  </section>
  