<%- include('head.ejs') %>
      <nav class="navbar">
        <div class="container glass menu rounded-pill p-2">
          <header class="d-flex glass-header">
            <div>
                <a href="/" class="d-flex link-body-emphasis text-decoration-none">
                    <img src="images/logo.png" height="50" alt="Lena Forrey Logo" class="logo">
                </a>
              </div>
            <div>
              <ul class="nav d-flex mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="/proposal.html" class="nav-link px-2">Proposal</a></li>
                <li><a href="/form.html" class="nav-link px-2">Form</a></li>
                <li><a href="/about.html" class="nav-link px-2">About</a></li>
                <li><a href="/portfolio.html" class="nav-link px-2">Portfolio</a></li>
                <li><a href="/contact.html" class="nav-link px-2">Contact</a></li>
              </ul>
            </div>
              <div class="d-flex">
                
                <button type="button" class="btn btn-primary rounded-pill px-4 py-3 me-1">Sign-up</button>
              </div>
            </header>
          </div>
        </nav>