<section class="bg-light bg-gradient p-5 vh-100">
    <div class="d-flex flex-column p-4 align-items-between container justify-content-between">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex p-2 flex-column">   
                <h1 class="fs-4">Custom Proposal</h1>
                <p class="xsmall-h">Date: <span id="current-date"></span></p>
            </div> 
            <div class="xsmall-h d-flex p-2 flex-column">
                <h4 class="small-h">Prepared By</h4>
                <p>Chroma Creative</p>
                <p>Hudson Valley, NY</p>
            </div> 
        </div>
    </div>           
    <div class="d-flex flex-column text-center flex-fill align-items-center justify-content-center h-100 pb-5">
        <h2 class="center fs-4">Connect. Captivate. Convert</h2>
        <h3 class="fs-1">A Custom Website Proposal for <span id="business-name">[Your Business Name]</span></h3>

        <div class="dynamic-content-container col-xl-5 col-lg-7 col-md-8 pb-5" id="dynamic-hero"></div>
        <div class="dynamic-content-container col-xl-5 col-lg-7 col-md-8 pb-5" id="dynamic-introduction"></div>
    </div>
    <script src="/js/business-name.js"></script>
</section>
