<section>
  <div class="container">
    <h2 class="pt-5">Solutions</h2>
    <hr>
    <!-- This will be dynamically populated using JavaScript -->
    <template id="loop-i-box-blue">
      <div class="col-6">
      <div class="dynamic-content d-flex flex-col card shadow-sm p-5 h-100">
        <div class="card-body section-icon">
        </div>
        <div class="card-body">
            <h3 class="section-title"></h3>
            <p class="section-content"></p>
        </div>
      </div>
    </div>
    </template>
    <div id="dynamic-solutions" class="dynamic-content-container row flex-wrap g-5 py-5"></div> <!-- Container for JS Injection -->
  </div>
</section>
