       <!-- Dynamic Proposal Template -->
        <div id="dynamic-content">
            <div class="row row-content">
            <!-- Industry & Problem-Specific Content -->
                <div class="d-flex flex-row">
                <!-- Presence -->
                    <div class="proposal-problems fas-1">
                        <svg class="me-5 " xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 1024 1024" {...props}>
                            <path fill="currentColor" d="M754.752 480H160a32 32 0 1 0 0 64h594.752L521.344 777.344a32 32 0 0 0 45.312 45.312l288-288a32 32 0 0 0 0-45.312l-288-288a32 32 0 1 0-45.312 45.312L754.752 480z"></path>
                        </svg>
                    </div>
