<%
    const pageMeta = {
        title: "404",
        permalink: "/404.html",
        lastmod: "2024-12-31",
        priority: 0.7
    };
%>
<script id="pageMeta" type="application/json" style="display: none;">
    <%= JSON.stringify(pageMeta) %>
</script>
<%- include('../partials/header.ejs', { title: pageMeta.title, pageMeta: pageMeta }) %>
<!-- 404 Page HTML -->
<div class="container">
    <h1>404</h1>
    <p>Stuff</p>
</div>
<% include('../partials/footer.ejs') %>