<%
    const pageMeta = {
        title: "Homepage",
        permalink: "/index.html",
        lastmod: "2024-12-31",
        priority: 0.7
    };
%>
<script id="pageMeta" type="application/json" style="display: none;">
    <%= JSON.stringify(pageMeta) %>
</script>
<%- include('../partials/header.ejs', { title: pageMeta.title, pageMeta: pageMeta }) %>
<!-- Contact Page HTML -->
<div class="content">
    <section id="top">
        <div class="container my-5">
        <div class="px-4 py-5 my-5 text-center">
            <h1 class="small-h">Development & Design by Lena Forrey</h1>
            <h2 class="xlarge-h"><em>Captivate</em></h2>
            <h3 class="large-h">your audience</em></h3>
            


            <a href="/contact.html" class="btn btn-primary btn-lg margin-top">Contact</a>
            <a href="/portfolio.html" class="btn btn-outline-primary btn-lg margin-top">Portfolio</a>
        </div>
        
        
    </section>
    <section id="sub-hero">
        <div class="container  px-4 py-5">
            <div class="row flex-lg-row align-items-center g-5 py-5">
              <div class="col-lg-6">
                <h2 class="large-medium-h">Responsive left-aligned hero with image</h2>
              </div>
              <div class="col-10 col-sm-8 col-lg-6">
                <p>Imagine a world where your visions unfold into captivating digital landscapes. By blending vibrant design, deep research, and compelling stories, we create websites that connect, captivate and convert. Experience the surreal beauty of your visual story as we infuse your brand with the essence of who you are, turning your entrepreneurial visions into a vivid reality.</p>
              </div>
            </div>
            </div>
          </div>
        </div>
    </section>
    <section id="portfolio">
        <div class="container col-xxl-8 px-4 py-5">

            
                <h2 class="large-h">My Projects</h2>
            <p class="large-bdy-txt">Where function becomes beauty</p>
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                        </div>
                        <small class="text-body-secondary">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                        </div>
                        <small class="text-body-secondary">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                        </div>
                        <small class="text-body-secondary">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                        </div>
                        <small class="text-body-secondary">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                        </div>
                        <small class="text-body-secondary">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>

                        </div>
                        <small class="text-body-secondary">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
            </div>    
              </div>
    </section>
    <section id="about">
        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row align-items-center g-5 py-5">
              <div class="col-lg-6">
                <img src="/images/lena.jpg" width="100" class="img-fluid round" alt="...">
                <h2 class="large-h">Lena <em>Forrey</em></h2>
                <div>
                    <h4 class="xsmall-h">SOCIALS</h4>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        
                        <a href="#">Facebook</a>
                        <a href="#">Instagram</a>
                        <a href="#">Agency Website</a>
                        <a href="#">YouTube</a>
                        
                    </div>
                </div>
                <div class="py-5">    
                    <h4 class="xsmall-h">HIGHLIGHTED SKILLS</h4>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <p class="btn btn-highlight-sm btn-sm px-4 glass">HTML</p>
                        <p class="btn btn-highlight-sm btn-sm px-4 glass">CSS</p>
                        <p class="btn btn-highlight-sm btn-sm px-4 glass">Javascript</p>
                        <p class="btn btn-highlight-sm btn-sm px-4 glass">Bootstrap</p>
                        <p class="btn btn-highlight-sm btn-sm px-4 glass">PHP</p>
                        
                    </div>
                    <hr>
                    <div>
                        <h3 class="xsmall-h">
                            LET'S WORK TOGETHER
                        </h3>
                        <a class="small-h" href="mailto:hello@lenaforrey.com" target="_blank">SEND ME AN EMAIL
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" viewBox="0 0 20 20" {...props}>
                          <path fill="currentColor" fillRule="evenodd" d="M5.22 14.78a.75.75 0 0 0 1.06 0l7.22-7.22v5.69a.75.75 0 0 0 1.5 0v-7.5a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0 0 1.5h5.69l-7.22 7.22a.75.75 0 0 0 0 1.06Z" clipRule="evenodd"></path>
                      </svg>
                          </a>
                    </div>
                </div>
                
              </div>
              <div class="col-10 col-sm-8 col-lg-6">
                <p>Imagine a world where your visions unfold into captivating digital landscapes. By blending vibrant design, deep research, and compelling stories, we create websites that connect, captivate and convert. Experience the surreal beauty of your visual story as we infuse your brand with the essence of who you are, turning your entrepreneurial visions into a vivid reality.</p>
              </div>
            </div>
            
            
          </div>
    </section>
<!-- Footer Partial -->
<%- include('../partials/footer.ejs') %>
