<%- include('../../i-card-svg.ejs') %>
      <div>
          <h3 class="fs-4 pt-1 ">Your website’s a house of cards instead of a fortress</h3>
          <p>Your site should feel like a safe haven, but right now, it’s more like a welcome mat for cyber threats. Security isn’t just a feature—it’s the foundation of trust. Your clients are trusting you with sensitive information, but your site’s security is making them second-guess that trust. Every vulnerability in your site’s defenses is an open door for breaches that could harm your clients and your reputation.</p>
          <div class="row g-5 p-5">
            <div class="col-md-3">
              <canvas id="firstImpressionsChart"></canvas>
              <p class="text-center">75% of users judge credibility by design</p>
            </div>
            <div class="col-md-3">
              <canvas id="loadTimeChart"></canvas>
              <p class="text-center">7% conversion loss for every 1s delay</p>
            </div>
            <div class="col-md-3">
              <canvas id="unclearMessagingChart"></canvas>
              <p class="text-center">88% of visitors won't return after bad UX</p>
            </div>
            <div class="col-md-3">
              <canvas id="bounceRateChart"></canvas>
              <p class="text-center">Bounce rates climb to 38% at 5s load time</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>  
