<%- include('../../i-card-svg.ejs') %>
<div>
  <h3 class="fs-4 pt-1">You’re Working Harder, Not Smarter</h3>
  <p>
    Clunky systems are creating more headaches than leads. Appointments, payments, and client emails feel more like a juggling act than a seamless flow. Every minute spent troubleshooting tools is a minute stolen from helping your clients achieve balance.
  </p>
</div>
