<%- include('../../i-card-svg.ejs') %>
<div>
  <h3 class="fs-4 pt-1">Your website’s more ‘meh’ than magnetic</h3>
  <p>
    You’re hosting the party, but nobody’s staying for the dance. Visitors are window shopping, not buying—and your site isn’t giving them a reason to commit. People are intrigued but not inspired enough to book a session or purchase your products. Every unclicked button is someone walking away from the healing and transformation you provide. That’s not just a missed sale—it’s a missed impact.
  </p>
</div>
