<%- include('../../i-card-svg.ejs') %>
      <div>
          <h3 class="fs-4 pt-1 ">Wellness Insights - Accessibility</h3>
          <p>Your website’s shutting doors instead of opening them. Your digital space should be welcoming to all, but right now, it’s leaving some of your audience out in the cold. Accessibility isn’t just about doing the right thing—it’s about making sure everyone feels like they belong.Your wellness brand is all about inclusion and connection, but your site’s design and navigation are creating barriers for those who need it most. Every visitor who struggles to interact with your site is a missed chance to provide healing and balance. Instead of being a beacon of peace, your site is inadvertently causing frustration. </p>
      </div>
    </div>
  </div>
</div>  
