<%- include('../../i-card-svg.ejs') %>
      <div>
          <h3 class="fs-4 pt-1 ">Your Design Feels More ‘1995’ Than ‘Visionary’</h3>
          <p>Your site feels more ‘retro’ than ‘relevant.’ It’s telling your audience a story that doesn’t match the visionary business you’ve become. Your website should feel as fresh and revitalizing as your services, but right now, it’s dragging you down. Clients may love your expertise, but if your site doesn’t inspire confidence, they’ll never take the next step.</p>
          
      </div>
    </div>
  </div>
</div>  
