<%- include('../../i-card-svg.ejs') %>
      <div>
          <h3 class="fs-4 pt-1 "> Your website’s snoozing instead of speeding</h3>
          <p>Your clients are seeking calm, but your slow site is stressing them out before they even book. Appointments, payments, and client emails feel more like a juggling act than a seamless flow. Every delay adds friction, pushing your audience further from the peace you’re offering.</p>
          
      </div>
    </div>
  </div>
</div>  
