<section>
    <div class="container">
      <h2 class="pt-5">Introduction</h2>
      <hr>
      <!-- This will be dynamically populated using JavaScript -->
      <div id="dynamic-introduction" class="dynamic-content-container"></div>
    </div>
  </section>
  