<section class="p-5">
    <div class="container">
        <div class="row row-content">
            <div class="col-12">
                <h2>Introduction</h2>
                <hr>
                <p>
                    <strong>Picture this:</strong> Your audience, utterly captivated, exploring your digital world like it’s the Louvre...
                </p>
            </div>
        </div>
    </div>
</section>
