<section>
    <div class="container">
      <h2 class="pt-5">Problems</h2>
      <hr>
      <div class="dynamic-content" data-section="problems">
        <!-- Dynamic Proposal Content for Problems Loaded Here -->
      </div>
    </div>
  </section>