<div>
    <h3 class="fs-4 pt-1 ">Your Digital Presence Feels... meh</h3>
    <p>Your services are life-changing—transformative even. But let’s not sugarcoat it: the website side of your business is kind of a mess. Even worse... it often feels like it's actively working against you.</p>
    <p>Here’s the cold, hard truth: in today’s world, your digital presence is your first impression...</p>
    <div class="row g-5 p-5">
      <div class="col-md-3">
        <canvas id="firstImpressionsChart"></canvas>
        <p class="text-center">75% of users judge credibility by design</p>
      </div>
      <div class="col-md-3">
        <canvas id="loadTimeChart"></canvas>
        <p class="text-center">7% conversion loss for every 1s delay</p>
      </div>
      <div class="col-md-3">
        <canvas id="unclearMessagingChart"></canvas>
        <p class="text-center">88% of visitors won't return after bad UX</p>
      </div>
      <div class="col-md-3">
        <canvas id="bounceRateChart"></canvas>
        <p class="text-center">Bounce rates climb to 38% at 5s load time</p>
      </div>
    </div>
  </div>  
